.ctn {
    display: grid;
    color: white;
    text-align: center;
}



.div1 {
    background-color: blue;
}

.div2 {
    background-color: violet;
}

.div3 {
    background-color: darkcyan;
}

.div4 {
    background-color: saddlebrown;
}

.div5 {
    background-color: aliceblue;
}

.div6 {
    background-color: darkgoldenrod;
}

.div7 {
    background-color: darkred;
}

.div8 {
    background-color: teal;
}

.div9 {
    background-color: hotpink;
}

.div10 {
    background-color: slateblue;
}

.div11 {
    background-color: lawngreen;
}

.div12 {
    background-color:gold;
}

.div13 {
    background-color: crimson;
}

.div14 {
    background-color: blue;
}

.div15 {
    background-color: blue;
}

.div16 {
    background-color: blue;
}

.div17 {
    background-color: blue;
}

.div18 {
    background-color: blue;
}

.div19 {
    background-color: blue;
}

.div20 {
    background-color: blue;
}

.div21 {
    background-color: blue;
}

.div22 {
    background-color: blue;
}

.div23 {
    background-color: blue;
}

.div24 {
    background-color: blue;
}

.div25 {
    background-color: blue;
}

.div26 {
    background-color: blue;
}

.div27 {
    background-color: blue;
}

.div28 {
    background-color: blue;
}

.div29 {
    background-color: blue;
}

.div30 {
    background-color: blue;
}